html {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  background: #f0f0f0;
}

body {
  max-width: 900px;
  margin: 0 auto;
  padding: 1.5em 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #fff;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 2em;
  border-radius: 5px;
  user-select: none;
  outline: none;
  background: #ed5e68;
  color: #f0f0f0;
  padding: 0.7em 0;
  min-width: 200px;
}

header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid #f0f0f0;
}

h1 {
  margin-top: 0;
}

.pattern {
  margin-bottom: 1em;
  padding-bottom: 2em;
  border-bottom: 2px solid #f0f0f0;
}

.pattern:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}

.pattern:first-child .pattern-description {
  margin-top: 0;
}

@media (min-width: 500px) {
  body {
    padding: 1.5em 2em;
  }

  a {
    width: 20%;
  }
}
